
<!DOCTYPE html>
<html xmins:th="https://www.thymleaf.org" xmlns:xmins="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
    <h2>Items</h2>

    <div class="add-item">
        <a th:href="@{/addItemsPage}"> Add Item</a>
    </div>
        <div class="items-container" style="text-align:center" >
            <table class="items-table" th:action="@{/items}">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Total Quantity</th>
                    <th>Quantity Not in Warehouse</th>
                    <th>Created On</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.displayName}"></td>
                    <td th:text="${item.totalQuantity}"></td>
                    <td th:text="${item.quantityNotInWarehouse}"></td>
                    <td th:text="${item.createdTimeStamp}"></td>
                    <td>
                        <a th:href="@{/editItemsPage/{id}(id=${item.id})}">Edit</a>
                    </td>
                    <td>
                        <form action="#" th:action="@{'/items/{id}'(id=${item.id})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    <td>
                        <a th:href="@{/addItemToWarehousePage/{id}(id=${item.id})}">Add item to Warehouse</a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
</body>
</html>


