<!DOCTYPE html>
<html xmins:th="https://www.thymleaf.org" xmlns:xmins="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
</head>
<body>
<div class="add-item-form-container">
    <form action="#" th:action="@{'/reduceItem/{itemId}/warehouse/{warehouseId}'(itemId=${itemId}, warehouseId=${warehouseId})}"  th:method="post">
        <label>
            <input type="number" th:name="quantityToReduce" placeholder="Enter quantity of item to remove from warehouse" required>
        </label>
        <button type="submit">Remove</button>
    </form>
</div>

</body>
</html>


<!--th:action="@{'/items/{itemId}/warehouse/{warehouseId}'(itemId=${item.id}, warehouseId=${warehouse.warehouseId})}"-->